body {
   background-color: #EEFEF6;
 }

h1, h2, p, h3{
  color: #008B8B;
  font-family: 'Alegreya Sans SC', sans-serif;
}
h1 {
    font-size: 50px;
    text-align: center;
}
h2 {
  font-size: 30px;
  text-align: center;
}
h3 {
  font-size: 30px;
  text-align: center;
}
p {
  color: #008B8B;
  font-size: 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  text-align: center;
  height: 20px;
  background-size: cover;
  position: relative;
  margin: 20px 0 0 0;
  border-radius: 12px;
}

p1 {
  color: #008B8B;
  font-size: 15px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  text-align: center;
  height: 20px;
  background-size: cover;
  position: relative;
  margin: 20px 0 0 0;
  border-radius: 10px;
}

ul {
      padding: 15px;
      background: #EEFEF6;
      font-family: 'Alegreya Sans SC', sans-serif;
      color: #008B8B;
      text-align: center;
    }

li {
      font-size: 30px;
      display: inline;
      padding: 0px 10px 0px 10px;
      font-family: 'Alegreya Sans SC', sans-serif;
      color: #008B8B;
      text-align: center;

    }
